venv/
__pycache__/
*.pyc
.DS_Store
logi.zip

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
logi2/
logi2.zip
logi/
*.zip
logi/
logi2/
*.zip
__pycache__/
venv/
